ALLOW_SYSTEM_INSTALL=0
ALLOW_CONTAINER_PULL=0
ALLOW_LARGE_DOWNLOAD=0
ALLOW_TEACHER_GPU_RUN=0
ALLOW_REMOTE_WRITE=0
ALLOW_GIT_COMMIT=0
ALLOW_SMALL_PIP_INSTALL=1
ALLOW_SIM_RUN=1
ALLOW_OFFICIAL_SHALLOW_CLONE=1
NODE_A_HOST=node2
NODE_A_USER=gl
NODE_B_HOST=chxy
NODE_B_USER=fx
SIM_HOST=
